[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std

[submodule "lib/foundry-noir-helper"]
	path = lib/foundry-noir-helper
	url = https://github.com/0xnonso/foundry-noir-helper
