# a github workflow that runs curl -L https://foundry.paradigm.xyz | bash then nargo codegen-verifier then nargo prove p

name: Run Tests on PR
on:
  pull_request:
    paths:
      - 'with-foundry/**'

jobs:
  test:
    defaults:
      run:
        working-directory: with-foundry

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Install Nargo
      uses: noir-lang/noirup@v0.1.2
      with:
        toolchain: nightly

    - name: Install Foundry
      uses: foundry-rs/foundry-toolchain@v1

    - name: Generate verifier contract
      run: |
        nargo codegen-verifier
      working-directory: with-foundry/circuits

    - name: Generate proof
      run: |
        nargo prove
      working-directory: with-foundry/circuits

    - name: Test with Foundry
      run: |
        forge test --optimize --optimizer-runs 5000 --evm-version london 
